:root {
  .ms-Overlay{background-color: rgba(0, 0, 0, 0.4);}
  .ms-Dialog-inner{
    padding: 0px 26px 20px;
    .ms-Button{background-color: #6c7ac9;
      border-color: #6c7ac9;
    color: #fff;
  border-radius: 4px;
}
.ms-Button--default{
  border-color:#D1D1D1;
  border-radius: 4px;
  background-color: #fff;
  color:#212121
}
.ms-Dialog-subText{ 
font-family: Segoe UI;
font-size: 14px;
margin-top:0;
font-weight: 400;
line-height: 16px;
letter-spacing: 0em;
text-align: center;


}
  }

  .dialogboxedit{
    .ms-Dialog-content{
      border-bottom:2px solid #252423 ;
      padding-bottom: 50px;
    }
  }
  .dialogboxtext{
    label{
      font-family: Segoe UI;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  color: #484644;
  margin-bottom: 9px;
  display: block;
    }
    .ms-TextField-fieldGroup{
      background-color: #f5f5f5;
      border-radius: 3px;
      margin-bottom: 10px;
      border-color: transparent !important;
      padding: 5px ;
      input{
        padding: 5px 0;
        &:focus{
          border: 0 !important;
          outline: 0;
        }
      }
      }
    
  }
  .dialogboxtextfield{
    .ms-TextField-fieldGroup{
      width: 100%;   
        margin-bottom: 70px;
        display: block;
      input{
        padding: 5px 0;
        width: 100%;
        &:focus{
          border: 0;
          outline: 0;
        }
      }
  
    }
  
  }




  .container-custom {
    max-width: 1150px;
    margin: 0 auto;

    .main-title {
      font-family: Segoe UI;
      font-size: 30px;
      font-weight: 600;
      line-height: 16px;
      letter-spacing: 0px;
      text-align: left;
    }
    .section-heading {
      font-family: Segoe UI;
      font-size: 16px;
      font-weight: 700;
      line-height: 21px;
      letter-spacing: 0px;
      text-align: left;
      margin: 0;
      padding: 8px 0;
    }
  }
  ::-webkit-scrollbar {
    width: 7px; /* width of the entire scrollbar */
  }
  ::-webkit-scrollbar-track {
    background: rgb(255, 255, 255); /* color of the tracking area */
    }
    ::-webkit-scrollbar-thumb {
    background-color: #b6b5b5a2; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid #b6b5b5a2; /* creates padding around scroll thumb */
    }
  font-family: "Segoe UI", sans-serif;
  font-size: 16px;
  background-color: #f5f5f5;
  .white-wrapper {
    box-shadow: 1px 2px 7px #0000000f;
    border-radius: 4px;
    padding: 13px 5px !important;
    .title_wrapper {
      display: flex;
      align-items: center;
      margin-bottom: 5px;

      h6 {
        margin: 10px 5px 0px 15px !important;
        font-family: Segoe UI;
        font-size: 12px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0px;
        text-align: left;
      }
    }
    h3 {
      font-family: Segoe UI;
      font-size: 36px;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0px;
      text-align: left;
      margin: 20px 0 15px 0;
      padding-left: 10px;
    }
  }

  .ms-FocusZone,
  .ms-Fabric {
    background-color: #ffffff;
    // width: 100%;
    margin: 0 auto;
    padding: 3px 0;
    .ms-ContextualMenu-list {
      .ms-ContextualMenu-icon {
        color: #6c7ac9;
      }
    }
    .ms-ScrollablePane {
      .ms-ScrollablePane--contentContainer {
      overflow-y: hidden;
      .ms-DetailsList-contentWrapper {
      overflow-y: auto;
      height: 400px;
      .ms-List-page {
      height: unset !important;
      }
      }
      }
      }
    .ms-Callout {
      .ms-Stack {
        display: flex;
        justify-content: space-between;
        button {
          height: 25px;
          margin: 0;
        }
      }
      .ms-Callout-beak {
        display: none;
      }
      max-width: 320px;
      .ms-Callout-main {
        // min-height: 44px;
        max-height: fit-content !important;
        .ms-Stack {
          div[class^="css-"] {
            min-height: 123px;
            max-height: 500px;
            height: auto;
            overflow-y: scroll;
          }
          .ms-ScrollablePane {
            .ms-ScrollablePane--contentContainer {
              min-height: 90px;
              max-height: 400px;
              height: auto;
              overflow-y: auto;
            }

            .ms-Checkbox {
              &:hover .ms-Checkbox-checkbox {
                background-color: rgb(98, 100, 167);
                border-color: rgb(98, 100, 167);
              }
              &:hover .ms-Checkbox-checkmark {
                color: #fff;
              }
              .ms-Checkbox-checkbox {
                border-color: rgb(98, 100, 167);
                &::after {
                  border-color: rgba(98, 100, 167, 0);
                }
              }
            }
            .ms-Checkbox.is-checked {
              .ms-Checkbox-checkbox {
                background-color: rgb(98, 100, 167);
                border-color: rgb(98, 100, 167);
              }
              &:hover .ms-Checkbox-checkmark {
                color: #fff;
              }
              .ms-Checkbox-checkbox {
                &::after {
                  border-color: rgb(98, 100, 167);
                }
              }
            }
          }
        }
      }
    }
    .ms-CommandBar {
      display: none;
    }

    // .ms-Fabric,
    // .ms-FocusZone {
    //   // width: 100%;
    // }

    // .ms-TextField {
    //   padding: 0;
    //   max-width: unset;
    //   .ms-TextField-wrapper {
    //     width: 100%;
    //     .ms-TextField-fieldGroup {
    //       border: 1px solid rgba(0, 0, 0, 0.507) ;
    //       border-radius: 4px;
    //       .ms-TextField-field {
    //         border: 1px solid transparent ;
    //         width: 300px !important;
    //         // &:focus {
    //         //   // border: 1px solid rgb(98, 100, 167) !important;
    //         // }
    //       }
    //     }
    //   }
    // }
    .ms-DetailsHeader {
      .ms-DetailsHeader-cell {
        &:hover {
          background: transparent !important;
        }
        .ms-DetailsHeader-cellName {

          font-weight: 500;
          font-size: 13px;

        }
      }
    }
    div[class^="css-"] {
      width: 100% !important;

      .ms-SelectionZone {
        .is-selected {
          background-color: #f5f5f5;
        }
      }
      .ms-List-cell {

        border-bottom: 1px solid rgb(224, 224, 224);

        &:hover {

          background-color: rgb(235, 235, 235) !important;

          color: #252525;

        }

        .ms-DetailsRow {
          &:hover {
            background-color: rgb(235, 235, 235) !important;
            color: #252525;
          }

          .ms-DetailsRow-cell {
            &:nth-child(2) {
              cursor: pointer;
            }

            &:last-child {
              cursor: pointer;
            }
          }
        }
      }
    }
    // elliptical menu
    .elliptical-menu {
      border-radius: 4px;
      padding: 7px 0;
      button {
      border: 0;
      text-align: left;
      width: 100%;
      padding: 5px 20px;
      .ms-Button-label {
      font-weight: 400 !important;
      }
      }
      }

    // filter
    .ms-Callout {

      .ms-Callout-main {

        .ms-TextField-fieldGroup {

          border-color: #f3f2f1;

          border-radius: 3px;

          &::after {

            border-color: #6c7ac9;

            border-radius: 3px;

          }

          input {

            background: url(../Icons/Search.png), #f3f2f1;

            background-position: 97%;

            background-repeat: no-repeat;

            border: none;

            border-radius: 3px;

          }

        }

        .ms-Stack {

          div[class^="css-"] {

            width: 100%;

          }

        }

      }

      div[role="filtercallout"] {

        .ms-Button {

          &:hover {

            color: #6c7ac9;

          }

        }

      }

    }
  }
}

//Pagination
.pagination {
  display: flex;
  width: 30%;
  justify-content: space-between;
  margin: 30px auto;
  list-style: none;
  margin-top: 30px;
  padding: 0;
  a {
    cursor: default;
    padding: 7px 12px;
    border-radius: 2px;
    font-size: 13px;
    width: 17px;
    height: 17px;
    color: #252525;
    font-weight: 500;
    margin-left: 10px;
  }

  li:not(.disabled) a:hover {
    background-color: #6c7ac9;
    color: #fff;
    cursor: pointer;
  }

  li.active a {
    color: #fff;
    background: #6c7ac9;
  }

  li.disabled a {
    pointer-events: none;
    color: #252525;
  }
}

.ms-Grid-col {

  .ms-TextField {

    .ms-TextField-fieldGroup {

      border: 0.5px solid rgba(0, 0, 0, 0.5) !important;
      height: 35px;
      border-radius: 5px;
    }

    .ms-TextField-wrapper {

      width: 100%;

      display: flex;

      justify-content: space-between;



      .ms-TextField-fieldGroup {

        &:after {

          border-color: rgb(98, 100, 167) !important;

          border-radius: 5px;

        }

        input[placeholder="Search Teams"] {

          background: url(../Icons/Search.png);

          background-position: 97%;

          background-repeat: no-repeat;

          width: 300px;

          border: 0px solid transparent !important;

          border-radius: 3px;

          // width: 300px !important;

        }

      }

    }

  }

}
#export {
  padding: 7px;
  display: flex;
  justify-content: center;
  border-radius: 4px;
  .ms-Button-label {
    display: none;
  }
  .ms-Button-menuIcon {
    display: none;
  }
  i[data-icon-name="Download"] {
    color: rgba(0, 0, 0, 0.74);
    font-weight: 600;
  }
}

.ms-Grid-col {
  .ms-TextField {
    width: 100% !important;
    margin: 0 15px;
    padding: 0;
    .ms-TextField-field {
      &:after {
        content: none !important;
        border-color: #6c7ac9 !important;
        background-color: #6c7ac9 !important;
        border-radius: 50%;
      }
    }
  }
}


